@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "DbError";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
        <h3>Controller: @Model.ControllerName  </h3>
        <h3>Action: @Model.ActionName</h3>
    </hgroup>
    <hr />
    <p>
        @Model.Exception.Message
    </p>
</body>
</html>
